.profile-img {
    width: 320px;
    height: 320px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 20px;
    border: 3px solid var(--icon-color);
}

.intro-text {
    font-size: 1.2rem;
    max-width: 600px;
    color: var(--text-color);
}

html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
}